/* ***************
Basic setting
*************** */

/* Data for survey from
https://www.idtech.com/blog/different-types-of-video-game-genres
*/

/* Background picture of Chrono Cross from
https://imgur.com/a/7E4oK#0
*/

@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');

html{
  background-color:#EADAD3;
  /***************/
  font-size: 62.5%;
  /* default 16px,
  fontsize 62.5%
  10px = 1 rem */
  /***************/
  font-family: 'Rokkitt', serif;
  font-size: 1.2rem;
  color: white;
  background-color: black;
}

body{

  /***************/
  /* image will fit to body,
  margin 0 */
  /***************/
  margin: 0;
  /** scroll x hidden **/
  overflow-x: hidden;
}

#background-chronocross-img{
  background-image: url(http://drive.google.com/uc?export=view&id=14gTNsRyURqsIDS47e7iCMBEKNbem2uLX);
  background-size: cover;
  background-repeat: no-repeat;
}

main{
  /* main box set in the middle */
  display: block;
  margin: 0 auto;
  width: 500px;

}

header{
  padding: 55px 0;
  text-align: center;
  
}

/* ***************
        ids
*************** */

#title{
  font-weight: 700;
  margin-bottom: 0;
}

#description-halfOpacity{
  display: inline-block; /* background color
  will adapt to the text line */
  padding: 10px;
  text-align:center;
  background-color:rgba(192,192,192,0.3);
  border-radius: 15px 50px;
}

/* ***************
      Survey
*************** */

.form-box{
  background: rgba(0, 100, 155, 0.5);
  text-align: right;
  padding: 20px;
}


input[type="text"], input[type="email"], input[type="number"]{
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
}

/* validation error x 2*/
