/* ***************
Basic setting
*************** */

/* Data for survey from
https://www.idtech.com/blog/different-types-of-video-game-genres
*/

/* Background picture of Chrono Cross from
https://imgur.com/a/7E4oK#0
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300&display=swap');

/* Define CSS variables
--main-color: black;
Access to CSS variables
var (--main-color);     */

:root{
  /*
  The :root selector matches
  the document's root element.
  In HTML, the root element is
  always the html element. */
  --color-darkblue_alpha: rgba(62, 94, 122, 0.5);
  --color-lightblue: rgba(201, 229, 253);
}

/* https://atzack.com/dawn-css/
standard boxmodel setp */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  /***************/
  font-size: 62.5%;
  /* default 16px,
  fontsize 62.5%
  10px = 1 rem */
  /***************/
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 200;
  color: var(--color-lightblue);
  background-image: url(http://drive.google.com/uc?export=view&id=14gTNsRyURqsIDS47e7iCMBEKNbem2uLX);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  .main-box{
    width: 400px;
  }
}

body{
  font-size: 1.8rem;
  text-align: center;
  /** scroll x hidden **/
  overflow-x: hidden;
  weight: 400;
  margin: 0;
}

main{
  /* main box set in the middle */
  display: block;
  margin: 0 auto;
  width: 500px;
}

header{
  padding: 55px 15px;
  background-color: var(--color-darkblue_alpha);
}

label{
  font-size: 2rem;
  display: block;
  padding: 0.2rem;
}

p{
  font-size: 2rem;
}
/* ***************
        ids
*************** */

#title{
  font-weight: 700;
  margin-bottom: 0;
  font-family: 'Lato';
  margin: 0;
}

#img-spacei{
  width: 25%;
  height:25%;
  margin: 0;
  opacity: 0.5;
}

/* ***************
      Survey
*************** */


.form-box{ /* div class form */
  background:rgba(192,192,192,0.3);
  text-align: left;
  padding: 30px;
  font-size: inherit;
}

.form-outerFormat{
  padding-top: 2rem;
  height: auto;
}

.form-innerFormat{
  display: block;
  width: 100%;
  height: 3rem;
  padding: 0.7rem 1rem;
  margin: 0.2rem 0 0.9rem 0;
}

.spaceOnparagraph{
  text-align: justify;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 2.5rem;
}

select,
textarea, button {
  margin-top: 0.2rem;
  width: 100%;
  resize: none;
}
